.App {
  background-image: linear-gradient(40deg, #53354A, #903749);
  min-height: 100vh;
  display: flex;
  
}

.App-link {
  color: #61dafb;
}

h1{
	font-size: 100px;
  color: beige;
  text-align: center;
  margin-top: 10px;
  padding-top: 20px;
  
}


h2 {
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:beige;
  display: block;
  text-align: right;
}